*.py[cod]

# C extensions
*.so

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml


# non essential dependencies files
matVTK1.0/matVTK1.0/gui/linux32/
matVTK1.0/

#removing the pdf file from the repo
paper/*.pdf

#removing 
paper/updates-to-Ken/

paper/.DS_Store
